fonts/*ttf
fonts/*zip
satellites/iridium
satellites/iridium.tle
satellites/????-??-??T??:??*
world/????-??-??T??:??*.jpg
world/earth_??.jpg
world/night-????.jpg
world/clouds.jpg
world/night.jpg
world/bump.jpg
world/earth.jpg
world/specular.jpg
world/specular-nasa.jpg
movie_*/i_*png
movie_*/o_*png
movie_*/title.mp4
????????T??????.mp4
*.swp
*.old
